extends base.pug

block content  
    div
      h1 Whoops!
      h2 Erreur #{code}
      p #{message}
      h2 Contactez Nous
      p
        b Bogues et Aide General:
        br
        i Slava Knyazev &mdash; slava[at]knyz.org
      button.cd-btn(data-href='/', data-type='page-transition') &larr; Accueil
