extends base.pug 

block content
  h1 Bienvenue!
  p &Eacute;tudie &Ccedil;A! est un projet scientifique ayant comme objectif de trouver la technique d&apos;&eacute;tude optimale en analysant la performance des utilisateurs.
  p Commencez d&egrave;s maintenant!
  button.cd-btn(data-href='/module', data-type='page-transition') D&eacute;marrer
  button.cd-btn(data-href='/about', data-type='page-transition') En savoir plus
  button.cd-btn(style='position: absolute; right: 10px; top: 10px; opacity: 0.7; border-radius: 0;', data-href='/news', data-type='page-transition') Nouveaut&eacute;s (7 Mars)