doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/fonts/fonts.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/modernizr.js')
    title &Eacute;tudie &Ccedil;A!
  body
    main
      .cd-index.cd-main-content
        div
          h1 Bienvenue!
          p
            | &Eacute;tudie &Ccedil;A! est un projet scientifique ayant comme objectif de trouver la technique d&apos;&eacute;tude optimale en analysant la performance des utilisateurs.
          p Commencez d&egrave;s maintenant!
          |  
          button.cd-btn(href='/module', data-type='page-transition') D&eacute;marrer
          |  
          button.cd-btn(href='/about', data-type='page-transition') En savoir plus
          |  
          button.cd-btn(style='position: absolute; right: 10px; top: 10px;     opacity: 0.7; border-radius: 0;', href='/news', data-type='page-transition') Nouveaut&eacute;s (7 Mars)
    .cd-cover-layer
    .cd-loading-bar
    script(src='js/jquery-2.1.1.js')
    script(src='js/main.js')