extends master.pug
block topvar
  block subvar
  - topActive = "Modules"
  - subPages = [{name: "Browse", href:"/admin/modules/" + modid}, {name: "Create New", href: "/admin/modules/" + modid + "/new"}]
  
block inner
  .container
    +navbar("Questions for " + modid, "modules", subPages, subActive)
    block contents